//	1. Global Overrides
//	1.1 Global Addons
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Close Button
//  15. Drilldown
//  16. Dropdown
//  17. Dropdown Menu
//  18. Flex Video
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Off-canvas
//  24. Orbit
//  25. Pagination
//  26. Progress Bar
//  27. Reveal
//  28. Slider
//  29. Switch
//  30. Table
//  31. Tabs
//  32. Thumbnail
//  33. Tooltip
//  34. Top Bar
//	34.1 Top Bar Two

//1. Global


//22. Menu

//34. Top Bar

$topbar-menu-text-font-family: Ubuntu, Roboto, Helvetica, sans-serif;

.top-bar{
	li{
		a.mdi{
			font-size: 1.2rem;
			padding: .85rem 1rem;
		}
	}

	//'a' tag paddings here give proper height to the 'li' tags thus proper hover affects
	//since 'a' just fit the 'li' with vertical alignment, li just wrap the a
	//since icons and text have dif font sizes, this became complicated
	.top-bar-left{
		li{
			i{
				margin-right: 0rem;
			}
		}
		li.menu-text{
			a{
				font-family: $topbar-menu-text-font-family;
				color: $primary-color-material-500;
				@include card($level: 2, $border: true, $bg-color: $gray-color-material-900);
				font-size: 1rem;
				font-weight: normal;
			    margin: -.7rem .5rem 0 .5rem;
			    padding-bottom: .7rem;
			    padding-top: 1rem;
			}
		}
	}
}

//	34.1 TopBarTwo
$top-bar-two-height: 50px;

.top-bar-two{
	height: $top-bar-two-height;
	background-color: $primary-color-material-900;
}

